In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("test_LoanPrediction.csv")

In [ ]:
df.shape

(367, 12)

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [ ]:
df.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [ ]:
gender=df['Gender'].value_counts()
gender

Gender
Male      286
Female     70
Name: count, dtype: int64

In [ ]:
print("Ratio of male to female",gender[0]/gender.values)

Ratio of male to female [1.         4.08571429]

<ipython-input-14-1a30286b8002>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Ratio of male to female",gender[0]/gender.values)

In [ ]:
df['Gender'].fillna('Male',inplace=True,limit=8)
df['Gender'].fillna('Female',inplace=True,limit=3)

In [ ]:
dependents=df['Dependents'].value_counts()
dependents

Dependents
0     200
2      59
1      58
3+     40
Name: count, dtype: int64

In [ ]:
print("The ratio of 0 by x ",dependents[0]/dependents.values)

The ratio of 0 by x  [1.         3.38983051 3.44827586 5.        ]

<ipython-input-20-3959183d7620>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("The ratio of 0 by x ",dependents[0]/dependents.values)

In [ ]:
df['Dependents'].fillna(0,inplace=True,limit=4)
df['Dependents'].fillna(1,inplace=True,limit=2)
df['Dependents'].fillna(2,inplace=True,limit=3)
df['Dependents'].fillna(3,inplace=True,limit=1)

<ipython-input-21-c49f7fb24175>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Dependents'].fillna(0,inplace=True,limit=4)

In [ ]:
df['Self_Employed'].value_counts()

Self_Employed
No     307
Yes     37
Name: count, dtype: int64

In [ ]:
emp=df['Self_Employed'].value_counts()
print("Ratio: ",emp[0]/emp.values)

Ratio:  [1.        8.2972973]

<ipython-input-23-3ecb8ee46697>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Ratio: ",emp[0]/emp.values)

In [ ]:
df['Self_Employed'].fillna('No',inplace=True,limit=20)
df['Self_Employed'].fillna('Yes',inplace=True,limit=3)

<ipython-input-24-73c3a8d0972e>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Self_Employed'].fillna('No',inplace=True,limit=20)

In [ ]:
df['Credit_History'].value_counts() #29

Credit_History
1.0    279
0.0     59
Name: count, dtype: int64

In [ ]:
credit=df['Credit_History'].value_counts()
print("Credit ratio ",credit[1]/credit.values)

Credit ratio  [1.         4.72881356]

In [ ]:
df['Credit_History'].fillna(1.0,inplace=True,limit=24)
df['Credit_History'].fillna(0.0,inplace=True,limit=5)

<ipython-input-28-a772bb2e1137>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Credit_History'].fillna(1.0,inplace=True,limit=24)
<ipython-input-28-a772bb2e1137>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Credit_History'].fillna(0.0,inplace=True,limit=5)

In [ ]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           5
Loan_Amount_Term     6
Credit_History       0
Property_Area        0
dtype: int64

In [ ]:
df['LoanAmount'].value_counts()

LoanAmount
150.0    12
125.0    11
110.0    10
100.0     9
90.0      9
         ..
71.0      1
157.0     1
93.0      1
61.0      1
98.0      1
Name: count, Length: 144, dtype: int64

In [ ]:
loanMean=df['LoanAmount'].mean()
loanMean

136.13259668508286

In [ ]:
df['LoanAmount'].fillna(loanMean,inplace=True,limit=5)

<ipython-input-33-8536365b5a1e>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['LoanAmount'].fillna(loanMean,inplace=True,limit=5)

In [ ]:
df['Loan_Amount_Term'].value_counts()

Loan_Amount_Term
360.0    311
180.0     22
480.0      8
300.0      7
240.0      4
84.0       3
60.0       1
12.0       1
350.0      1
36.0       1
120.0      1
6.0        1
Name: count, dtype: int64

In [ ]:
termMean=df['Loan_Amount_Term'].mean()
termMean

342.53739612188366

In [ ]:
df['Loan_Amount_Term'].fillna(termMean,inplace=True,limit=6)

<ipython-input-36-e037d8133781>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Loan_Amount_Term'].fillna(termMean,inplace=True,limit=6)

In [ ]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64